html, body, #root, .app, .zaseki {
    /*height: 100%;*/
}
* {
    font-family: "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body {
    margin: 0;
}
.app {
    display: flex;
    flex-flow: column nowrap;
}
.setting {
    flex: 0 0 30px;
    /*background-color: #eeeeee;*/
    padding: 20px 60px 20px;
    display: table-cell;
}
.select {
    float: left;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select span {
    font-size: 23px;
    font-weight: bold;
    color: #333333;
    margin-right: 10px;
}
.select select {
    font-size: 30px;
    font-weight: bold;
}
.zaseki {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 50px 30px;
}
.row {
    flex: 1;
    /*border: 1px solid pink;*/
    /*margin: 5px;*/
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
}
.table {
    flex: 0 0 30px;
    border: 1px solid darkgray;
    display: flex;
    flex-flow: row nowrap;
    margin: 5px;
}
.desk {
    flex: 1;
    width: 30px;
    height: 30px;
    border: solid 1px darkgray;
    /*margin: 1px;*/
    /*background-color: lightpink;*/
}
/*.desk:nth-child(2n) {*/
    /*background-color: lightcyan;*/
/*}*/